* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Montserrat";
    font-size: 14px;
}

#block-1 {
    height: 100%;
    width: 100%;
    background-color: #fed15b;
    /* background-image: url("/img/background-4.jpeg"); */
    /* background:  linear-gradient(rgba(255, 0, 0, 0.25)), url("/img/background-4.jpeg"); */
    /* background-size: cover; */
}

#name h1 {
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    color: white;
    /* border: 1px solid white; */
    width: 100%;
}

.heading {
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    /* border: green solid 4px; */
    width: 250px;
    text-align: center;
    margin: 25px auto 30px auto;
    box-sizing: border-box;
}

#name{
    /* left: 35%; */
    /* border: #4b644c solid 4px; */
    /* background-color: #fed15b; */
    width: 100%;
    position: absolute;
    top: 40%;
    border: #fed15b solid 4px;
    padding: 10px;
    text-align: center;
    color: white;
}

#name h1 {
    color: #000;
    font-size: 36px;
}

#block-2 {
    /* height: 90%; */
    /* border: green 3px solid; */
    /* color: #fff; */
    width: 100%;
    box-sizing: border-box;
    padding-top: 65px;
    padding-bottom: 120px;
}

#about-me{
    /* border: black solid 1px; */
    width: 60%;
    margin: 0 auto;
    text-align: left;
    line-height: 200%;
}

#skills-section {
    /* margin: 0px auto; */
    /* border: red 1px solid; */
    /* position: relative;
    top: 100px; */
    width: 90%;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

.end{
    /* border: black solid 1px; */
    display:inline-block;
    width: 200px;
    margin: 0px 15px;
    vertical-align: top;
    margin-bottom: 20px;
}

.end p {
    /* border: black solid 1px; */
    line-height: 170%;
    margin-top: 10px;
}

.circle {
    width: 80px;
	height: 80px;
	background: #cbc9bb;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    margin: 10px auto;
}

.end img{
    width: 80px;
	height: 80px;
    /* -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px; */
    margin: 10px auto;
    opacity: .5;
    /* border: 3px solid black; */
}

#block-3 {
    /* height: 100%;
    width: 100%; */
    /* border: green 3px solid; */
    background-color: #fed15b;
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 15px;
}

#experience-section {
    border: white solid 1px;
    width: 90%;
    margin: 0px auto;
    padding: 10px 20px;
}

.experience-section-info {
    /* border: black solid 2px; */
    width: 320px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 20px 20px 0px;
}

#block-4 {
    padding-top: 35px;
    margin-bottom: 50px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fed15b;
}

#portfolio{
    /* border: blue solid 2px; */
    width: 85%;
    margin: 0px auto;
}

.portfolio-section {
    /* border: solid black 1px; */
    /* margin-bottom: 20px; */
    width: 80%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 20px;
}

.port-title {
    /* border: red solid 2px; */
    /* margin: 10px 90px 0px 30px; */
    /* width: 40%; */
    /* vertical-align: top;
    margin: 10px auto;
    text-align: center; */
    position: relative;
    top: 250px;
    display: none;
    font-size: 20px;
}

.box {
    width: 240px;
    /* width: 40%; */
	height: 120px;
	background: #cbc9bb    ;
    /* margin: 10px auto; */
    margin: 10px 0px 10px 25px;
    display:inline-block;
}

.port-img{
    width: 80%;
    margin: 10px 0px 10px 25px;
    /* display:inline-block; */
    text-align: center;
    border-radius: 10px;
}

.port-img:hover{
    cursor: pointer;
    opacity: .1;
}

.modal{
    display: none;
    z-index: 1;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.5);
}

.modal-content{
    background-color: #fff;
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    height: 85%;
    overflow: scroll;
    box-shadow: 0 5px 8px 0 rgba(0,0,0, 0.2);
    animation-name: modal-open;
    animation-duration: .75s;
    border-radius: 10px;
}

@keyframes modal-open{
    from{opacity: 0}
    to{opacity:1}
}

.inside-modal-img{
    width: 80%;
    margin: 0px auto 15px auto;
}

.exit-btn{
    float: right;
    font-size: 30px;
    color: #ccc;
}

.exit-btn:hover, .exit-btn:focus{
    color: #fed15b;
    text-decoration: none;
    cursor: pointer;
}


#block-5 {
    background-color: #fed15b;
    /* background-color: #21262a; */
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 25px;
}

#block-5 .circle {
    background-color: white;
}

.small-box {
    width: 50px;
    height: 50px;
    background: #fff;
    margin: 10px;
    display:inline-block;
}

.contact-box {
    /* border: black solid 1px; */
    display: inline-block;
    width: 220px;
    margin-bottom: 20px;
}

.contact-box img{
    height: 40px;
    margin: 10px;
    display:inline-block;
}

form {
    /* border: red solid 1px; */
    width: 90%;
    margin: 0px auto;
    margin-top: 10px;
}

input {
    border: 2px white solid;
    border-radius: 2px;
    margin-bottom: 10px;
}

input[value="Name"] {
    width: 29%;
    height: 15px;
}

input[value="Email"] {
    width: 29%;
    height: 15px;
    color: #21262a;
}

input[value="Enter Message"] {
    width: 60%;
    height: 100px;
}

button {
    background-color: #fff;
    color: black;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    border-radius: 8px;
    margin: 4px auto;
    cursor: pointer;
}

button:hover {
    background-color: #2c313c;
    color: white;
}

#footer {
    height: 100px;
    padding-top: 20px;
    background-color: #21262a;
    color: white;
    text-align: center;
}

#footer img{
    margin-top: 20px;
    width: 32px;
    margin-right: 10px;
}
